:root {
    --color-bg-body: #f1f5f6;
    --color-text-body: #515d66;
    --color-main: #212529;
    --color-secondary: #dd3842;
    --color-link: #212529;
    --color-link-hover: #2b38d1;
    --color-scrollbar: #8d979e;
    --color-link-menu: #212529;
    --color-link-menu-heading: #212529;
    --color-link-menu-sub: #515d66;
    --color-link-menu-hover: #2b38d1;
    --color-name-product: #212529;
    --color-name-product-hover: #2b38d1;
    --color-star-product: #ffb800;
    --color-compare-price-product: #8d979e;
    --color-price-product: #2b38d1;
    --color-current-product: #dd3842;
    --color-cart-product: #2b38d1;
    --color-out-product: #dd3842;
    --color-btn-product: #515d66;
    --color-btn-product-hover: #ffffff;
    --bg-btn-product: #ffffff;
    --bg-btn-product-hover: #2b38d1;
    --color-label-hot: #dd3842;
    --color-label-new: #008a00;
    --color-label-sale: #dd3842;
    --color-label-in: #008a00;
    --color-label-out: #ef262c;
    --color-btn-text: #ffffff;
    --color-btn: #2b38d1;
    --color-border-btn: #2b38d1;
    --color-btn-text_hover: #ffffff;
    --color-btn-hover: #212529;
    --color-border-btn-hover: #212529;
    --color-cl-btn-p-n: #ffffff;
    --color-bg-btn-p-n: #2b38d1;
    --color-cl-btn-p-n-hover: #ffffff;
    --color-bg-btn-p-n-hover: #2b38d1;
}
:root {
    --color-status-bg: #f3f4f6;
    --color-sold-bg: #ef262c;
    --color-title-countdown: ;
    --color-number-countdown: #ffffff;
    --bg-text-countdown: #dd3842;
}
:root {
    --color-title-breadcrumb: #212529;
    --color-text-breadcrumb: #8D979E;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ol,ul,menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: .8;
    margin: 0;
}
.row,.col{
    padding: 0 !important;
    margin: 0 !important;
}
.row>* {
   padding: 0;
   margin: 0;
}
.container{
    min-width: 1200px !important;
    margin: 0 auto;
}
@media (min-width:992px) and (max-width:1200px){
    .container{
        width: 100vw;
        margin: 0 auto;
    }
}

.back_to_top {
    bottom: 120px;
    font-weight: 700;
    font-size: 18px;
    position: fixed;
    right: 30px;
    color: var(--color-btn-text);
    width: 50px;
    height: 50px;
    z-index: 99;
    overflow: hidden;
    padding: 0;
    border-radius: 100%;
    background-color: var(--color-btn);
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 0;
}
.back_to_top i{
    color: var(--color-btn-text);
    
}
.back_to_top.show{
    opacity: 1;
}
.breadcrumb .breadcrumb-item a{
    color: var(--color-text-breadcrumb);
}
#breadcrumb{
    height: 70px;
    display: flex;
    align-items: center;
}
.breadcrumb .breadcrumb-item a:hover{
    color: var(--color-title-breadcrumb);
}
.breadcrumb .breadcrumb-item.active{
    color: var(--color-title-breadcrumb);
}

/* ============navbar=============== */
.top_navbar{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    min-height: 85px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e8ec;
}
.logo{
    width: 160px;
    height: 45px;
    overflow: hidden;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .header-search .laber_search {
    position: relative;
} */
.search-bar .header-search .search_header {
    width: 100%;
}
.header-search .search_header {
    background-color: #fff;
    border-radius: 5px;
    padding: 0;
    /* width: 330px; */
    border: 2px solid #e5e8ec;
}
input {
    outline: 0;
    font-family: Bai Jamjuree;
}
.search_catagory {
    position: relative;
}
.header-search .search_header .search_catagory select {
    border: none;
    margin: 0;
    height: 41px;
}
.search_catagory select {
    padding: 0 30px 0 23px;
    outline: 0;
    color: var(--color-main);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    height: 43px;
}
.search_catagory:after {
    top: 13px;
}
.search_catagory:after {
    content: "";
    background-color: #acafb7;
    height: 15px;
    width: 1px;
    display: block;
    position: absolute;
    top: 15px;
    right: 0;
}
.frm_search_input {
    display: flex;
    position: relative;
    max-width: 100%;
}
.header-search .search_header input.search_header_input{
    border: none;
    height: 41px;
    padding: 0 10px;
    background: transparent;
    color: #8d979e;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}
.header-search .search_header .search_header_submit {
    position: static;
    min-width: 110px;
    height: 45px;
    border: none;
    cursor: pointer;
    color: var(--color-btn-text);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-top: -2px;
    margin-right: -2px;
    margin-bottom: -2px;
    border-radius: 0 5px 5px 0;
}
.header-search .search_header .search_header_submit:hover {
    background: #000;
}

@media (max-width:576px) {
    .header-search .search_header .search_header_submit {
        position: static;
        min-width: 100px;
        height: 45px;
        border: none;
        cursor: pointer;
        color: var(--color-btn-text);
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        margin-top: -2px;
        margin-right: -2px;
        margin-bottom: -2px;
        border-radius: 0 5px 5px 0;
    }
}

/* ===================================== */
.header-control {
    margin: 0;
    justify-content: flex-end;
}
 .header-control li {
    display: inline-block;
    list-style: none;
    position: relative;
    padding: 0 5px;
}
.header-control li.item-list {
    position: relative;
}
.header-control li:first-child {
    padding-left: 0;
}
.header-icon {
    font-size: 22px;
    position: relative;
    line-height: 1;
    display: flex;
    color: var(--color-icon-header);
    justify-content: center;
    padding-left: 36px;
    flex-direction: column;
    height: 32px;
}
.header-icon i, .header-icon svg {
    font-size: 26px;
    width: 26px;
    fill: var(--color-icon-header);
    position: absolute;
    top: 5px;
    left: 0;
    color: var(--color-icon-header);
}
 .header-icon .header_counter {
    color: #fff;
    width: 18px;
    height: 18px;
    background: red;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
}
.header-icon span.text,.minicart span.text{
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
}
.header-icon span.b{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

/* #banner{
    padding: 200px 0;
} */
/* =========================main navbar================= */
.main_navbar{
    /* position: absolute; */
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e8ec;
}
.vertical_menu {
    padding: 0;
    position: relative;
}
.vertical_menu .vartical_menu_title {
    margin: 0;
    line-height: 1;
    align-items: center;
    height: 48px;
    cursor: pointer;
    width: 270px;
    gap: 10px;
}
.vertical_menu .title {
    color: var(--color-main);
    max-width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}

.vertical_menu .vertical_menu_list {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 11;
    opacity: 0;
    /* visibility: hidden; */
    padding: 20px 0;
    pointer-events: none;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    transition: all .3s linear 0s;
    /* filter: alpha(opacity=0); */
    /* transform: scaleY(0); */
}
.vertical_menu.active .vertical_menu_list {
    top: 50px;
    opacity: 1;
    overflow: visible;
    pointer-events:auto;
    padding: 0;
    transform: scale(1);
    border: 1px solid #e5e8ec;
}
.vertical_menu .vertical_menu_list ul {
    margin-bottom: 0;
}
.vertical_menu .vertical_menu_list>ul>li {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.vertical_menu .vertical_menu_list ul>li{
    border-bottom: 1px solid #E5E8EC;
    cursor: pointer;    
}
.vertical_menu .vertical_menu_list ul>li>a {
   
    color: var(--color-link-menu);
    cursor: pointer;
    float: none;
    padding: 0;
    position: relative;
    line-height: 40px;
    font-weight: 500;
    font-size: 14px;
    gap: 5opx;
}
.vertical_menu .vertical_menu_list ul>li>a 
.navbar-nav .nav-item .nav-link{
    display: inline-block;
    color: var(--color-link-menu);
    padding: 0 10px;
    position: relative;
    line-height: auto;
    font-weight: 600;
    font-size: 14px;
}
.navbar-nav .nav-item .nav-link {
    display: inline-block;
    color: var(--color-link-menu);
    font-weight: 600;
    font-size: 14px;
}
.navbar-nav .nav-item .nav-link:hover{
    color: var(--color-link-menu-hover);
}
.navbar-nav .nav-item .nav-link i{
    font-size: 10px;
    /* font-weight: 400; */
}

.dropdown-toggle::after {
    display: none;
}
.dropdown-menu{
   
    display: block;
    margin: 0;
    left: 0;
    top: 150%;
    background-color: #fff;
    width: 260px;
    padding: 20px 30px;
    text-align: left;
    transform: translateY(5px);
    box-shadow: 0 0 30px #487bb726;
    border-radius: 0 0 5px 5px;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
}
.dropdown:hover .dropdown-menu{
    display:  block !important;
    top: 100%;
    opacity: 1;
    visibility: visible;
}
.dropdown:focus .dropdown-menu{
    display:  block !important;
}
.dropdown-menu li a{
    transition: all linear .3s;
}
.dropdown-menu li a:hover{
    padding-left: 30px;
    background: none;
    color: var(--color-link-menu-hover);
}
.custom_html p {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}
.custom_html a{
    color: var(--color-link);
    display: block;
    line-height: 1;
    border-radius: 10px;
    overflow: hidden;
}

/* ======================Slider section=============== */
#slider{
    margin:30px 0 60px ;
}

.prev, .next {
    z-index: 10;
    background: var(--color-bg-btn-p-n);
    color: var(--color-cl-btn-p-n);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid var(--color-bg-btn-p-n);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
    top: 50%;
    opacity: 0.4;
    cursor: pointer;
    transition: all linear .3s;
}
.prev:hover, .next:hover {
    background: #ffffff;
    opacity: 1;
    color: var(--color-main);
}
.prev{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.next{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.prev i,.next i{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}
#slider .slider_item .wrapper_caption{
    margin: 0 120px;
}

.wrapper_caption .slide_item_h4 {
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0;
    line-height: 15px;
    font-size: 12px;
    color: #FFE603;
    font-weight: 700;
    padding-bottom: 15px;
}
.wrapper_caption .slide_item_h3 {
    text-transform: none;
    font-style: normal;
    letter-spacing: -0.03em;
    line-height: 45px;
    font-size: 40px;
    color: #ffffff;
    font-weight: 600;
    
}
.wrapper_caption .slide_item_h3 {
    text-transform: none;
    font-style: normal;
    letter-spacing: -0.03em;
    line-height: 45px;
    font-size: 40px;
    color: #ffffff;
    font-weight: 600;
}
.slide_item_h3_2{
    padding-bottom: 10px;
}
.wrapper_caption .slide_item_h3 .first, .wrapper_caption .slide_item_h3 .last, .wrapper_caption .slide_item_h3 .marked {
    color: #ffe603;
}
.wrapper_caption .slide_item_p {
    margin: 0px;
    letter-spacing: 0px;
    line-height: 20px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    padding-bottom: 50px;
}
.wrapper_caption .buttons {
    display: inline-block;
    margin: 0px 0px 0px 0px;
    padding: 15px 40px 15px 40px;
    background-color: #ffffff;
    color: #212529;
    font-size: 12px;
    font-weight: 700;
    border-radius: 30px 30px;
    text-transform: uppercase;
    letter-spacing: 0px;
}
.wrapper_caption .buttons:hover {
    background-color: var(--color-bg-btn-p-n-hover);
    color: #212529;
}

.banner_right_image{
    width: 100%;
    height: 185px;
    border-radius: 5px;
    overflow: hidden;
}
.banner_right_image img{
    width: 100%;
    height: 100%;
    object-fit:calc(180);
    transition: all linear .3s;
}
.images_card{
    padding: 0 5px;
    overflow: hidden;
}
.images_card:hover img{
    transform: scale(1.1);
}
.images_card .content-img {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    pointer-events: none;
}
.images_card  .content-img .h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    margin: 0;
}
.images_card  .content-img p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin: 25px 0 0;
    color: #fff;
} 

/* ==================specific item catagory slider=================== */
#specific_item_catagory {
    padding-bottom: 60px;
}
#specific_item_catagory .slick-prev,#specific_item_catagory .slick-next{
    display: none !important;
}

.specific_item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.specific_item .specific_item_img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    background: var(--color-bg-body);
    transition: all linear .3s;
}

.specific_item .specific_item_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img_hvr_effect {
    height: 80px;
    width: 80px;
    background: var(--color-bg-body);
    box-shadow: 0px 0px 0px 8px rgba(252, 252, 252, 1) inset;
    -webkit-box-shadow: 0px 0px 0px 8px rgba(252, 252, 252, 1) inset;
    -moz-box-shadow: 0px 0px 0px 8px rgba(252, 252, 252, 1) inset;
    border: 2px solid blue;
    border-radius: 50%;
    overflow: hidden;
    background: var(--color-bg-body);
    opacity: 0;
    transition: all linear .3s;
}

.specific_item .specific_item_img:hover .img_hvr_effect {
    opacity: 1;
    height: 100px;
    width: 100px;
}

.specific_item a h6 {
    color: var(--color-link);
    text-transform: none;
    padding-top: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.specific_item span {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #515d66;
}

/* ============================countdown and discount section============ */
#countdown_discount{
    background: var(--color-bg-body);
    padding: 60px 0;
}
.section_header{
    background: #ffffff;
    padding: 20px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.section_header a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--color-text-body);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
#countdown_discount .countdown_title h4{
    font-size: 16px;
    line-height: 20px;
    color: var(--color-text-body);
    margin: 0;
}
#countdown_discount .countdown_title h4 span{
    color: #DD3842;
    font-weight: 600;
}

#countdown_discount .countdown p{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: var(--color-text-body);
    margin: 0;
}
#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
  }

  #clockdiv>div {
    display: inline-block;
  }

  #clockdiv div>span {
    height: 30px;
    width: 45px;
    background: #DD3842;
    display: inline-block;
  }

  .discount_product .countdown_banner{
    width: 100%;
    height: 348px;
    overflow: hidden;
    border-radius: 10px;
  }
  .discount_product .countdown_banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all linear .3s;
  }
  .discount_product .countdown_banner img:hover{
    transform: scale(1.03);
  }

  .discount_product_slider .prev{
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    
}
.discount_product_slider .next{
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}
.discount_product_slider .prev,.discount_product_slider .next{
    display: none !important;
}
.discount_product_slider:hover .prev,.discount_product_slider:hover .next{
    display: block !important;
    
}
.discount_product_slider .prev:hover, .discount_product_slider .next:hover {
    background: var(--color-link-hover);
    opacity: 1;
    color: #ffffff;
}
  .single_item .card{
    padding: 20px;
    overflow: hidden;
    height: 348px;
    margin-left: 10px;
    border: none;
  }
  .single_item .card_icon{
    position: absolute;
    right: 10px;
    top: 40px;
    flex-direction: column;
    row-gap: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
  }
  .single_item:hover .card_icon{
    top: 10px;
    opacity: 1;
    visibility: visible;
  }
  .single_item .card_icon a{
    display: flex;
    height: 36px;
    width: 36px;
    align-items: center;
    justify-content: center;
    color: var(--color-btn-product);
    border: 1px solid #e5e8ec;
    background-color: var(--bg-btn-product);
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    border-radius: 100%;
    transition: all linear.3s;
  }
  .single_item .card_icon a:hover{
    background: var(--color-link-hover);
    color: #ffffff;
  }
  .single_item .card .card-body{
    padding: 0 20px 0 0;
    background: #ffffff;
  }
  .single_item .card_image{
    width: 152px;
    height: 152px;
    overflow: hidden;
    margin: 0 auto;
  }
  .single_item .card_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all linear .3s;
  }
  .single_item .card_image img:hover{
    transform: scale(1.1);
  }
  .single_item .card_image:hover .image1{
    display: none;
  }
  .single_item .card-body{
    top: 200px;
    transition: all linear .3s;
  }
  .single_item:hover .card-body{
    top: 120px;
  }
  #countdown_discount a h5,
  #feature_product a h5,
  #recommend_product a h5,
  #top_selling a h5,
  #related_product a h5,
  #recently_viewd_product a h5{
    color: var(--color-name-product);
    width: 100%;
    overflow: hidden;
    font-weight: 600;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    transition: all linear .3s;
  }
  #countdown_discount a h5:hover,
  #feature_product a h5:hover,
  #recommend_product a h5:hover,
  #top_selling a h5:hover,
  #related_product a h5:hover,
  #recently_viewd_product a h5:hover{
    color: var(--color-link-hover);
  }
  .single_item .star i,#top_selling .star i,.star-rating i{
    color: var(--color-star-product);
    font-size: 13px;
    }
  .single_item .star span,#top_selling .star span{
        margin-left: 5px;
        color: #999;
        font-size: 13px;
    }
  .single_item .price,#top_selling .price{
        color: var(--color-sold-bg);
        text-decoration: unset;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 15px;
    }
 #top_selling .price span{
        color: var(--color-text-body);
        text-decoration: unset;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        padding-left: 15px;
    }
    .single_item .progress{
        height: 7px;
        width: 100%;
        margin-bottom: 7px;
    }
    .single_item .progress-bar{
        background: var(--color-sold-bg);
    }
    .single_item p,#top_selling p{
        color: #79819c;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
    .single_item p span{
        color: var(--color-main);
        font-weight: 600;
    }
    .single_item .btn{
        text-transform: capitalize;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px 0;
        height: 40px;
        background-color: var(--color-cart-product);
        border: none;
        border-radius: 30px;
        color: #fff;
        cursor: pointer;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        position: relative;
        display: flex;
        margin-top: 15px;
    }

/* ====================Feature product section============ */
#feature_product,#recommend_product,#related_product,#recently_viewd_product{
    background: var(--color-bg-body);
}
.feature_product_wrapper:first-child{
    margin-left: 0px;
  }
.feature_product_slider .prev,
.recommend_product_slider .prev,
.related_product_slider .prev,
.recently_viewd_product_slider .prev{
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    
}
.feature_product_slider .next,
.recommend_product_slider .next,
.related_product_slider .next,
.recently_viewd_product_slider .next{
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.feature_product_slider .prev,.feature_product_slider .next,
.recommend_product_slider .prev,.recommend_product_slider .next,
.related_product_slider .prev,.related_product_slider .next,
.recently_viewd_product_slider .prev,.recently_viewd_product_slider .next{
    display: none !important;
}
.feature_product_slider:hover .prev,.feature_product_slider:hover .next,
.recommend_product_slider:hover .prev,.recommend_product_slider:hover .next,
.related_product_slider:hover .prev,.related_product_slider:hover .next,
.recently_viewd_product_slider:hover .prev,.recently_viewd_product_slider:hover .next{
    display: block !important;
    
}
.feature_product_slider .prev:hover, .feature_product_slider .next:hover,
.recommend_product_slider .prev:hover,.recommend_product_slider .next:hover,
.related_product_slider .prev:hover,.related_product_slider .next:hover,
.recently_viewd_product_slider .prev:hover,.recently_viewd_product_slider .next:hover {
    background: var(--color-link-hover);
    opacity: 1;
    color: #ffffff;
}

#feature_product .card{
    margin: 0 5px;
}
/* =============Top selling product========== */
#top_selling{
    background: var(--color-bg-body);
    padding: 60px 0 0;
}
.top_selling_item .card{
    padding: 20px;
    overflow: hidden;
    /* height: 348px; */
    margin-left: 10px;
    border: none;
  }
  .top_selling_item .card_icon{
    position: absolute;
    left: 170px;
    top: 40px;
    flex-direction: column;
    row-gap: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
    z-index: 99999999;
  }
  .top_selling_item:hover .card_icon{
    top: 10px;
    opacity: 1;
    visibility: visible;
  }
  .top_selling_item .card_icon a{
    display: flex;
    height: 36px;
    width: 36px;
    align-items: center;
    justify-content: center;
    color: var(--color-btn-product);
    border: 1px solid #e5e8ec;
    background-color: var(--bg-btn-product);
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    border-radius: 100%;
    transition: all linear.3s;
  }
  .top_selling_item .card_icon a:hover{
    background: var(--color-link-hover);
    color: #ffffff;
  }
  .top_selling_item .card .card-body{
    padding: 0 20px 0 0;
    background: #ffffff;
  }
  .top_selling_item .card_image{
    width: 180px;
    height: 180px;
    overflow: hidden;
    margin: auto 0;
  }
  .top_selling_item .card_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all linear .3s;
  }
  .top_selling_item .card_image img:hover{
    transform: scale(1.1);
  }
  .top_selling_item .card_image:hover .image1{
    display: none;
  }
 

/* <!-- ============special discount section=============== --> */
#special_discount{
    padding: 60px 0 0;
    background: var(--color-bg-body);
}
/* ====================Recommend product section============ */
#recommend_product{
    padding: 60px 0;
}

/* =====================Blog section=============== */
#blog{
    background: var(--color-bg-body);
    padding: 0 0 60px;
    
}

#blog .prev{
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    
}
#blog .next{
    position: absolute;
    right: -25px;
    transform: translateY(-50%);
}
#blog .prev,#blog .next{
    display: none !important;
}
#blog:hover .prev,#blog:hover .next{
    display: block !important;
    
}
.blog_slider .prev:hover, .blog_slider .next:hover {
    background: var(--color-link-hover);
    opacity: 1;
    color: #ffffff;
}
#blog .card{
    border: 0;
    overflow: hidden;
}

#blog .card .card_image{
    overflow: hidden;
}
#blog .card img{
    transition: all linear.3s;
}
#blog .card img:hover{
    transform: scale(1.08);
}
#blog .card-body{
    padding: 27px 30px;
}
#blog .card-title{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: var(--color-link-hover);
    margin-bottom: 7px;
}
#blog a h4{
    overflow: hidden;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-link);
}
#blog span{
    color: #8d979e;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}
#blog .card-text{
    margin-top: 18px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-text-body);
    padding-bottom: 22px;
    border-bottom: 1px solid #E5E8EC;
}
#blog .card-link{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: var(--color-link);
    margin-bottom: 7px;
}
/* ==============Benefit section============= */
#benefit {
    border-top: 1px solid #E5E8EC;
}

#benefit .benefit_item_wrapper{
    padding: 35px 0;
    border-bottom: 1px solid #E5E8EC;

}
#benefit .benefit_content h4 {
    margin: 20px 0 3px;
    color: var(--color-main);
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}
#benefit .benefit_content p {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--color-text-body);
}

/* ================footer section============= */
#footer_top {
    padding: 60px 0;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e8ec;
}
.main_footer .footer_iteam_title {
    margin: 0 0 22px;
    padding: 0;
    color: var(--color-main);
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.contact_information .information .text {
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    margin-bottom: 0;
}
.contact_information .information a.phone {
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 20px;
    display: block;
}
.contact_information .information .Address, .contact_information .information a {
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: var(--color-text-body);
}
.main_footer .menu_footer .menu li.menu-item {
    line-height: 1;
}
.main_footer .menu_footer .menu a {
    position: relative;
    line-height: 32px;
    font-weight: 500;
    font-size: 14px;
    color: var(--color-text-body);
}
.main_footer .sub-email {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
}
.main_footer .signup-newsletter-form {
    display: flex;
    gap: 10px;
}
.main_footer .signup-newsletter-form .col_email {
    position: relative;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.main_footer .signup-newsletter-form .col_email .input-text {
    border: 1px solid #E5E8EC;
    height: 50px;
    border-radius: 50px;
    width: 100%;
    padding: 0 20px;
    -webkit-transition: all .24s linear 0ms;
    -khtml-transition: all .24s linear 0ms;
    -moz-transition: all .24s linear 0ms;
    -ms-transition: all .24s linear 0ms;
    -o-transition: all .24s linear 0ms;
    transition: all .24s linear 0ms;
}
.main_footer .signup-newsletter-form .submit-btn {
    border: 1px solid var(--color-btn);
    height: 50px;
    min-width: 140px;
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--color-btn);
    color: var(--color-btn-text);
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    transition: all linear .3s;
}
.main_footer .signup-newsletter-form .submit-btn:hover{
    background: var(--color-btn-hover);
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main_footer .sub-email2 {
    font-weight: 500;
    font-size: 14px;
    padding-top: 15px;
}

/* ======================== */
.footer_bottom {
    padding: 40px 0;
}
.footer-bottom .copyright {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
}
.footer-bottom .copyright p {
    margin: 0;
}
.footer-bottom .copyright a {
    color: var(--color-link-hover);
    font-weight: 600;
}

.footer-bottom .payment {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.footer-bottom .payment span {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
