#blog{
    background: transparent;
}
#breadcrumb{
    height: 190px;
    display: flex;
}
.breadcrumb_wrapper h2{
    font-style: normal;
    line-height: 1;
    font-size: 28px;
    color: var(--color-text-body);
    font-weight: 600;
}
.breadcrumb{

    display: flex;
    align-items: center;
    justify-content: center;
}