/* <!-- ==============our perfect store section==========?? --> */
.section_header h6{
    margin-bottom: 8px;
    text-transform: uppercase;
    color: var(--color-link-hover);
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;   
}
 .section_header h3{
    color: var(--color-main);
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -.03em;
    
}
 .section_header p{ 
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    width: 600px;
    margin: 0 auto;
    color: var(--color-text-body);
}
.about_image{
    border-radius: 10px;
    width: 100%;
    height: 490px;
    overflow: hidden;
    margin: 30px 0 80px;
   
}
#perfect_store .about_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
     transition: all linear .3s;
}
#perfect_store .about_image:hover img{
    transform: scale(1.05);
}
/* ==========counter section============= */
#counter .counter_wrapper{
    padding-bottom: 80px;
    border-bottom: 1px solid #E5E8EC;
}
.counter_item p {
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    margin-bottom: 20px;
    color: var(--color-link-hover);
}
.counter_item h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    color: var(--color-main);
}
.counter_item div {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-text-body);
}

/* ===============why choose us =============== */
#why_choose_us .section_header{
    padding: 100px 0 30px;
}
.choose_us_item_wrapper .choose_us_image{
    width: 100%;
    height: 548px;
    overflow: hidden;
    border-radius: 10px;
}
.choose_us_item_wrapper .choose_us_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all linear .3s;
}
.choose_us_item_wrapper .choose_us_image:hover img{
    transform: scale(1.05);
}
.choose_us_item_wrapper .choose_us_item h4{
    margin: 25px 0 10px;
    color: var(--color-main);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.choose_us_item_wrapper .choose_us_item p {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text-body);
}
