#error{
    padding: 80px 0;
}
#error .error_image{
    height: 360px;
    width: 365px;
    overflow: hidden;
    margin: 0 auto;
}
#error .error_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#error .error_content h2{
    color: var(--color-main);
    margin: 0 0 30px;
    font-weight: 700;
    font-size: 48px;
    line-height: 40px;
}
#error .error_content p{
    color: #4d5574;
    margin: 0 0 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}
#error .error_content a{
    text-transform: uppercase;
    color: var(--color-btn-text);
    background-color: var(--color-btn);
    font-size: 13px;
    position: relative;
    line-height: 50px;
    display: inline-block;
    min-width: 210px;
    font-weight: 600;
    border-radius: 30px;
    transition: all linear.3s;
}
#error .error_content a:hover{
    background-color: var(--color-btn-hover);
    
}

